# Xcode
DerivedData/
*.xcuserdatad/
*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcscmblueprint
*.xccheckout
build/
Build/
*.ipa
*.dSYM
.dSYM/
xcuserdata/

# Swift Package Manager
.swiftpm/
.build/
Package.resolved

# macOS
.DS_Store
